fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
python-multipart
pydantic[email]
pydantic-settings
bcrypt==4.0.1
emails==0.6
itsdangerous==2.2.0
resend==2.26.0
